# General settings
workers: 4
verbosity: 0

# Termination flag
stop-on-first-result: true
share-clauses: false
share-solutions: true 
print-model: false

# Solvers
portfolio:
solver:
    algorithm: pmin
    conf_budget: 100
    conf_core: 100000
    wl_type: 0
    sharing_heuristic: 0
end_solver
solver:
    algorithm: us
    conf_budget: 100
    conf_core: 100000
    wl_type: 0
    sharing_heuristic: 1
end_solver
solver:
    algorithm: hs
    conf_budget: 25
    conf_core: 100000
    wl_type: 0
    sharing_heuristic: 1
end_solver
solver:
    algorithm: sd
    conf_budget: 100
    conf_core: 100000
    wl_type: 0
    sharing_heuristic: 1
end_solver
