# General settings
workers: 4
verbosity: 0

# Termination flag
use_termination_flag: true

# Solvers
solver:
    algorithm: pmin
    verbosity: 0
    cardinality: 1
    pb: 2
    apmode: 1
    eps: 1
    geo_p: 1
    formula: 1
    conf_budget: 100
    core_optim: 2
    pbobjf: 4
    wl_type: 0
end_solver
solver:
    algorithm: us 
    verbosity: 0
    cardinality: 1
    pb: 2
    apmode: 1
    eps: 1
    geo_p: 1
    formula: 1
    conf_budget: 200
    core_optim: 2
    conf_core: 100000
    core_block: true
    pbobjf: 4
    wl_type: 0
end_solver
solver:
    algorithm: hs 
    verbosity: 0
    cardinality: 1
    pb: 2
    apmode: 1
    eps: 1
    geo_p: 1
    formula: 1
    conf_budget: 300
    core_optim: 2
    pbobjf: 4
    wl_type: 0
end_solver
solver:
    algorithm: sd
    verbosity: 0
    cardinality: 1
    pb: 2
    apmode: 1
    eps: 1
    geo_p: 1
    formula: 1
    conf_budget: 400
    core_optim: 2
    pbobjf: 4
    wl_type: 0
end_solver
