.classpath
target/*
!target/org.sat4j.moco.threeAlgorithms-0.0.1-SNAPSHOT.jar
!/target/org.sat4j.moco.threeAlgorithms-0.0.1-SNAPSHOT-jar-with-dependencies.jar
/.settings/org.eclipse.jdt.apt.core.prefs
*#*#
*~
/compilationAfter
/compilationBefore
/MO2PBMO_v0.1/results/
*.pyc
/finalResults/multiobjective_cp2016/
*.out
/finalResults/runsolver
/finalResults/MO2PBMO_v0.1/results/
/shadow/
/target/
/finalResults/finalResultsSC/run1/output/memoryPlot_SPL-5D-2.6.28.6-icse11.6.28.6-icse11.dimacs_S2.txt
memory*
time*
*sandbox*
/finalResults/finalResultsSC/run1/analysis/
/.settings/*
.project
.settings
/utilities/
/examples/exampleXX.opb
/out.mocnf
/deployTarget/
/latest.tar
/latest.tar.xz
